<!--Add Nav Bar-->
{% extends "base.html"%} 
<!--Change Title of Page-->
{% block title %}New Shoes • Wardrobe Optimizer{% endblock %}
<!--Add Content-->
{%block content%} 

<div class="container-fluid">
    <div class="card mt-5">
      <p style="text-align: center" class="mt-4"><strong>Adding New Shoes</strong></p>
      <i class="fas fa-shoe-prints" style="color: #000000" id="addNewShoes"></i>
        <div class="mb-2 container-fluid">
          <div class="mb-3">
            <label for="brandOfShoes" class="form-label">Brand of Shoes</label>
            <input type="text" class="form-control" placeholder="Enter Here" id="brandOfShoes" name="brandOfShoes">
          </div>
          <div class="mb-3">
            <label for="primaryColorOfShoes" class="form-label">Primary Color</label>
            <input type="text" class="form-control" placeholder="Enter Here" id="primaryColorOfShoes" name="primaryColorOfShoes">
          </div>
          <div class="mb-3">
            <label for="secondaryColorOfShoes" class="form-label">Secondary Color (If any)</label>
            <input type="text" class="form-control" placeholder="Leave Blank is N/A" id="secondaryColorOfShoes" name="secondaryColorOfShoes">
          </div>
          <div class="mb-3">
            <label for="typeOfShoes" class="form-label">Type of Shoes</label>
            <select class="form-select mb-3" id="typeOfShoes" name="typeOfShoes">
              <option selected>Select Here</option>
             <!--figure out how to add the options from the database to this option--> 
            </select>
          </div>
          <div>
            <label for="goingTo" class="form-label">Where would you wear this? (Can not be changed)</label>
              <div class="form-group">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Work
                </label>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  School
                </label>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Errands
                </label>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Going Out
                </label>
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Exercise
                </label>
              </div>
            </div>
        </div>
        <div class="container-fluid" id="container">
          <button href="#" class="btn" role="button" id="addNew">Add Shoes</button>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}