<!--Add Nav Bar-->
{% extends "base.html"%} 
<!--Change Title of Page-->
{% block title %}New Shirt • Wardrobe Optimizer{% endblock %}
<!--Add Content-->
{%block content%} 

<div class="container-fluid">
    <div class="card">
      <p style="text-align: center" class="mt-4"><strong>Adding New Shirt</strong></p>
      <i class="fas fa-tshirt" style="color: #000000" id="addNewShirt"></i><div class="card-body">
        <div class="mb-2">
          <div class="mb-3">
            <label for="brandOfShirt" class="form-label">Brand of Shirt</label>
            <input type="text" class="form-control" placeholder="Enter Here" id="brandOfShirt" name="brandOfShirt">
          </div>
          <div class="mb-3">
            <label for="primaryColorOfShirt" class="form-label">Primary Color</label>
            <input type="text" class="form-control" placeholder="Enter Here" id="primaryColorOfShirt" name="primaryColorOfShirt">
          </div>
          <div class="mb-3">
            <label for="secondaryColorOfPants" class="form-label">Secondary Color (If any)</label>
            <input type="text" class="form-control" placeholder="Leave Blank is N/A" id="secondaryColorOfPants" name="secondaryColorOfPants">
          </div>
          <div class="mb-3">
            <label for="typeOfShirt" class="form-label">Type of Shirt</label>
            <select class="form-select mb-3" id="typeOfShirt" name="typeOfShirt">
              <option selected>Select Here</option>
             <!--figure out how to add the options from the database to this option--> 
            </select>
          </div>
        </div>
        <div class="container-fluid" id="container">
          <button href="#" class="btn" role="button" id="addNew">Add Shirt</button>
        </div>
      </div>
    </div>
  </div>

