<!--Add Nav Bar-->
{% extends "base.html"%} 
<!--Change Title of Page-->
{% block title %}New Pants • Wardrobe Optimizer{% endblock %}
<!--Add Content-->
{%block content%} 

<div class="container-fluid">
    <div class="card mt-5 mb-5">
      <p style="text-align: center" class="mt-4"><strong>Adding New Pants</strong></p>
      <?xml version="1.0" encoding="UTF-8"?><svg width="75" height="65" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg" class="col-lg-6" id="addNewPants" style="margin:auto"><path d="M6 36L8.00001 12H40L42 36H26.8421L24 25L21.1579 36H6Z" fill="none" stroke="#333" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/><path d="M24 12L27 19" stroke="#333" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/><path d="M24 12L20 19.5" stroke="#333" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/><path d="M18 12H30" stroke="#333" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/></svg>
      <div class="card-body">
        <form method="post">
          <div class="mb-2">
            <div class="mb-3">
              <label for="brand" class="form-label">Name of Pants</label>
              <input type="text" class="form-control" placeholder="Enter Here" id="pants_name" name="pants_name">
            </div>
            <div class="mb-3">
              <label for="brand" class="form-label">Brand of Pants</label>
              <input type="text" class="form-control" placeholder="Enter Here" id="brand" name="brand">
            </div>
            <div class="mb-3">
              <label for="primary_color" class="form-label">Primary Color</label>
              <input type="text" class="form-control" placeholder="Enter Here" id="primary_color" name="primary_color">
            </div>
            <div class="mb-3">
              <label for="type" class="form-label">Type of Pants</label>
              <select class="form-select mb-3" id="type" name="type">
                <option selected>Shorts</option>
                <option>Joggers</option>
                <option>Leggings</option>
                <option>Sweats</option>
                <option>Jeans</option>
                <option>Slacks</option>
                <option>Dress Pants</option>
                <option>Booty Shorts</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="type" class="form-label">Would you wear these to work?</label>
              <select class="form-select mb-3" id="wear_to_work" name="wear_to_work">
                <option selected>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="type" class="form-label">Would you wear these to school?</label>
              <select class="form-select mb-3" id="wear_to_school" name="wear_to_school">
                <option selected>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="type" class="form-label">Would you wear these to run errands?</label>
              <select class="form-select mb-3" id="wear_to_errands" name="wear_to_errands">
                <option selected>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="type" class="form-label">Would you wear these to go out?</label>
              <select class="form-select mb-3" id="wear_to_going_out" name="wear_to_going_out">
                <option selected>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="type" class="form-label">Would you wear these to exercise?</label>
              <select class="form-select mb-3" id="wear_to_exercise" name="wear_to_exercise">
                <option selected>Yes</option>
                <option>No</option>
              </select>
            </div>
          </div>        
          <div class="container-fluid" id="container">
            <button type="submit" class="btn" role="button" id="addNew">Add Pants</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}