<!--Add Nav Bar-->
{% extends "base.html"%}
<!--Change Title of Page-->
{% block title %}Shirts • Wardrobe Optimizer{% endblock %}
<!--Add Content-->
{%block content%}

<div class="container-fluid">
  <h1 style="text-align: center">Your Personal Pants Collection</h1>
</div>
<div class="container-fluid mt-3" id="container">
  <a href="/addnewpants" class="btn" role="button" id="addNew">Add Pants</a>
</div>
{% for pants in pants_list %}
<div class="container-fluid mt-3 mb-5" id="container">
  <div class="card shadow-0 border rounded-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mt-4">
          <?xml version="1.0" encoding="UTF-8"?><svg
          width="75"
          height="65"
          viewBox="0 0 48 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="col-lg-6"
          id="pantsCollectionIcon"
        >
          <path
            d="M6 36L8.00001 12H40L42 36H26.8421L24 25L21.1579 36H6Z"
            fill="none"
            stroke="#333"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M24 12L27 19"
            stroke="#333"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M24 12L20 19.5"
            stroke="#333"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M18 12H30"
            stroke="#333"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        </div>
        <div class="col-lg">
          <h5>{{ pants.pants_name }}</h5>
          <div class="mt-2 mb-0 text-muted small">
            <span>{{ pants.brand }}</span>
            <span class="text-primary"> • </span>
            <span>{{ pants.type }}</span>
            <span class="text-primary"> • </span>
            <span>{{ pants.primary_color }}</span>
          </div>
          <div class="mt-2 mb-0 text-muted small">
            <span>Time's Worn: {{ pants.times_worn }}</span>
            <span class="text-primary"> • </span>
            <span>Last Time Worn: {{ pants.last_time_worn }}</span>
            <span class="text-primary"> • </span>
            <span>Worn to Most Frequently: {{ pants.worn_to_most }}<br /></span>
          </div>
          <div>
            <button class="btn btn-primary btn-sm mt-4" type="button" id="edit">
              Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %}
{% endblock %}