<!--Add Nav Bar-->
{% extends "base.html"%} 
<!--Change Title of Page-->
{% block title %}Random • Wardrobe Optimizer{% endblock %}
<!--Add Content-->
{%block content%} 
    <div class="container-fluid">
      <div class="row">
      <h1 style="text-align:center">Wardrobe Randomizer&#8482;</h1>
      <p style="text-align:center">This button will pick out a random oufit that you have never worn before.</p>
      <p style="text-align:center">It can only be clicked once a day(resets at 6:00AM EST).</p>
      <!--2 times a week for free, 5 times a week for $, 7 times a week for $$, unlimited times for $$$-->
      <button href="#" class="btn btn-primary" role="button" id="randomButton">Click Here to Randomize</button>
    </div>
  </div>

<!--Show this section after button is clicked-->
<h4 class="mt-5" style="text-align:center">Click Below if you want us to add it to your Calander</h4>
<div class="container-fluid mt-4">
  <div class="row">
    <button href="#" class="btn btn-primary" role="button" id="randomButtonCalender">Add to Calendar</button> 
  </div>
</div>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div
                    class="bg-image hover-zoom ripple rounded ripple-surface"
                  > <!--Had to edit margins on nike logo-->
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg"
                      class="w-100 mt-4"
                    />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div
                          class="mask"
                          style="background-color: rgba(253, 253, 253, 0.15)"
                        ></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg">
                  <h5>[NAME OF SHIRT(Color, Brand, Shirt)(Ex. Whtie Nike Shirt)]</h5>
                  <div class="mt-2 mb-0 text-muted small">
                    <span>[BRAND]</span>
                    <span class="text-primary"> • </span>
                    <span>[TYPE]</span>
                    <span class="text-primary"> • </span>
                    <span>[PRIMARY COLOR]<br /></span>
                  </div>
                  <div class="mt-2 mb-0 text-muted small">
                    <span>[AMOUNT OF TIMES WORN]</span>
                    <span class="text-primary"> • </span>
                    <span>[LAST TIME WORN]</span>
                    <span class="text-primary"> • </span>
                    <span>[WORN TO MOST FREQUENTLY]<br /></span>
                  </div>
                  <div>
                    <button class="btn btn-primary btn-sm mt-4" type="button" id="edit">
                      Edit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div
                    class="bg-image hover-zoom ripple rounded ripple-surface"
                  > <!--Had to edit margins on nike logo-->
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg"
                      class="w-100 mt-4"
                    />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div
                          class="mask"
                          style="background-color: rgba(253, 253, 253, 0.15)"
                        ></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg">
                  <h5>[NAME OF PANTS(Color, Brand, Shirt)(Ex. Whtie Nike Shirt)]</h5>
                  <div class="mt-2 mb-0 text-muted small">
                    <span>[BRAND]</span>
                    <span class="text-primary"> • </span>
                    <span>[TYPE]</span>
                    <span class="text-primary"> • </span>
                    <span>[PRIMARY COLOR]<br /></span>
                  </div>
                  <div class="mt-2 mb-0 text-muted small">
                    <span>[AMOUNT OF TIMES WORN]</span>
                    <span class="text-primary"> • </span>
                    <span>[LAST TIME WORN]</span>
                    <span class="text-primary"> • </span>
                    <span>[WORN TO MOST FREQUENTLY]<br /></span>
                  </div>
                  <div>
                    <button class="btn btn-primary btn-sm mt-4" type="button" id="edit">
                      Edit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div
                    class="bg-image hover-zoom ripple rounded ripple-surface"
                  > <!--Had to edit margins on nike logo-->
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg"
                      class="w-100 mt-4"
                    />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div
                          class="mask"
                          style="background-color: rgba(253, 253, 253, 0.15)"
                        ></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg">
                  <h5>[NAME OF SHOES(Color, Brand, Shirt)(Ex. Whtie Nike Shirt)]</h5>
                  <div class="mt-2 mb-0 text-muted small">
                    <span>[BRAND]</span>
                    <span class="text-primary"> • </span>
                    <span>[TYPE]</span>
                    <span class="text-primary"> • </span>
                    <span>[PRIMARY COLOR]<br /></span>
                  </div>
                  <div class="mt-2 mb-0 text-muted small">
                    <span>[AMOUNT OF TIMES WORN]</span>
                    <span class="text-primary"> • </span>
                    <span>[LAST TIME WORN]</span>
                    <span class="text-primary"> • </span>
                    <span>[WORN TO MOST FREQUENTLY]<br /></span>
                  </div>
                  <div>
                    <button class="btn btn-primary btn-sm mt-4" type="button" id="edit">
                      Edit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}