<!--Add Nav Bar-->
{% extends "base.html"%} 
<!--Change Title of Page-->
{% block title %}Random • Wardrobe Optimizer{% endblock %}
<!--Add Content-->
{%block content%} 
    <div class="container-fluid">
      <div class="row">
      <h1 style="text-align:center">Wardrobe Randomizer&#8482;</h1>
      <p style="text-align:center">This button will pick out a random oufit that you have never worn before to the destination you choose.</p>
      <p style="text-align:center">It can only be clicked once a day(resets at 6:00AM EST).</p>
      <!--2 times a week for free, 5 times a week for $, 7 times a week for $$, unlimited times for $$$-->
      <p style="text-align: center">Where are you headed?</p>
      <form method="post">
      <div class="container-fluid" id="container">
        <div class="row">
          <i class="fas fa-person-running mt-3" style="color: #000000" id="homePageShoes"></i>
          <select class="form-select mb-3 mt-3" aria-label="Default select example" id="where_to" name="where_to">
            <option selected>Work</option>
            <option>School</option>
            <option>Errands</option>
            <option>Going Out</option>
            <option>Exercise</option>
          </select>
        </div>
      </div>
      <div class="row">
      <button class="btn btn-primary mt-3" role="button" id="randomButton">Click Here to Randomize</button>
    </div>
    </div>
  </div>
</form>
    {% endblock %}