<!--Add Nav Bar-->
{% extends "base.html"%}
<!--Change Title of Page-->
{% block title %}Shirts • Wardrobe Optimizer{% endblock %}
<!--Add Content-->
{%block content%}

<div class="container-fluid">
  <h1 style="text-align: center">Your Personal Shirt Collection</h1>
</div>
<div class="container-fluid mt-3" id="container">
  <a href="/addnewshirt" class="btn" role="button" id="addNew">Add Shirt</a>
</div>
{% for shirt in shirts_list %}
<div class="container-fluid mt-3 mb-5" id="container">
  <div class="card shadow-0 border rounded-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mt-4">
          <i
            class="fas fa-tshirt"
            style="color: #000000"
            id="shirtCollectionIcon"
          ></i>
        </div>
        <div class="col-lg">
          <h5>{{ shirt.shirt_name }}</h5>
          <div class="mt-2 mb-0 text-muted small">
            <span>{{ shirt.brand }}</span>
            <span class="text-primary"> • </span>
            <span>{{ shirt.type }}</span>
            <span class="text-primary"> • </span>
            <span>{{ shirt.primary_color }}</span>
          </div>
          <div class="mt-2 mb-0 text-muted small">
            <span>Time's Worn: {{ shirt.times_worn }}</span>
            <span class="text-primary"> • </span>
            <span>Last Time Worn: {{ shirt.last_time_worn }}</span>
            <span class="text-primary"> • </span>
            <span>Worn to Most Frequently: {{ shirt.worn_to_most }}<br /></span>
          </div>
          <div>
            <button class="btn btn-primary btn-sm mt-4" type="button" id="edit">
              Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %}
{% endblock %}