<!--Add Nav Bar-->
{% extends "base.html"%}
<!--Change Title of Page-->
{% block title %}Shirts • Wardrobe Optimizer{% endblock %}
<!--Add Content-->
{%block content%}

<div class="container-fluid">
  <h1 style="text-align: center">Your Personal Shoe Collection</h1>
</div>
<div class="container-fluid mt-3" id="container">
  <a href="/addnewshoes" class="btn" role="button" id="addNew">Add Shoes</a>
</div>
{% for shoes in shoes_list %}
<div class="container-fluid mt-3 mb-5" id="container">
  <div class="card shadow-0 border rounded-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mt-4">
          <i class="fas fa-shoe-prints" style="color: #000000" id="shoeCollectionIcon"></i>
        </div>
        <div class="col-lg">
          <h5>{{ shoes.shoe_name }}</h5>
          <div class="mt-2 mb-0 text-muted small">
            <span>{{ shoes.brand }}</span>
            <span class="text-primary"> • </span>
            <span>{{ shoes.type }}</span>
            <span class="text-primary"> • </span>
            <span>{{ shoes.primary_color }}</span>
          </div>
          <div class="mt-2 mb-0 text-muted small">
            <span>Time's Worn: {{ shoes.times_worn }}</span>
            <span class="text-primary"> • </span>
            <span>Last Time Worn: {{ shoes.last_time_worn }}</span>
            <span class="text-primary"> • </span>
            <span>Worn to Most Frequently: {{ shoes.worn_to_most }}<br /></span>
          </div>
          <div>
            <button class="btn btn-primary btn-sm mt-4" type="button" id="edit">
              Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %}
{% endblock %}