<!--Add Nav Bar-->
{% extends "base.html"%} 
<!--Change Title of Page-->
{% block title %}Welcome, {{ user.first_name }} • Wardrobe Optimizer{% endblock %}
<!--Add Content-->
{%block content%} 

<div class="container-fluid">
    <h1 style="text-align: center">Welcome {{ user.first_name }}!</h1>
    <p style="text-align: center">
      Ready to get started? Tell us what you are wearing today!
    </p>
    <p style="text-align: center">Today's Date: {{ date_time }}</p>
  </div>
  <form method="post">
  <!--Shirt Button-->
  <p style="text-align: center">What shirt did you wear today?</p>
  <div class="container-fluid" id="container">
    <div class="row">
      <i class="fas fa-tshirt" style="color: #000000" id="homePageShirt"></i>
      <select
        class="form-select mb-3"
        aria-label="Default select example"
        id="shirt_today" name="shirt_today"
      >
        <option selected>Select One</option>
        {% for shirt in shirts_list %} 
        <option value="{{ shirt.shirt_id }}">{{ shirt.shirt_name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <!--Pants Button-->
  <p style="text-align: center">What pants did you wear today?</p>
  <div class="container-fluid" id="container">
    <div class="row">
      <?xml version="1.0" encoding="UTF-8"?><svg
        width="75"
        height="65"
        viewBox="0 0 48 48"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="col-lg-6"
        id="homePagePants"
      >
        <path
          d="M6 36L8.00001 12H40L42 36H26.8421L24 25L21.1579 36H6Z"
          fill="none"
          stroke="#333"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M24 12L27 19"
          stroke="#333"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M24 12L20 19.5"
          stroke="#333"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M18 12H30"
          stroke="#333"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <select
        class="form-select mb-3"
        aria-label="Default select example"
        id="pants_today" name="pants_today"
      >
        <option selected>Select One</option>
        {% for pants in pants_list %} 
        <option value="{{ pants.pants_id }}">{{ pants.pants_name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <!--Shoes Button-->
  <p style="text-align: center">What shoes did you wear today?</p>
  <div class="container-fluid" id="container">
    <div class="row">
      <i class="fas fa-shoe-prints" style="color: #000000" id="homePageShoes"></i>
      <select
        class="form-select mb-3"
        aria-label="Default select example"
        id="shoes_today" name="shoes_today"
      >
      <option selected>Select One</option>
      {% for shoes in shoes_list %} 
        <option value="{{ shoes.shoes_id }}">{{ shoes.shoe_name }}</option>
      {% endfor %}
      </select>
    </div>
  </div>
  <!--Where Button-->
  <p style="text-align: center">Where are you headed?</p>
  <div class="container-fluid" id="container">
    <div class="row">
      <i class="fas fa-person-running" style="color: #000000" id="homePageShoes"></i>
      <select
        class="form-select mb-3"
        aria-label="Default select example"
        id="where_to" name="where_to"
      >
        <option selected>Work</option>
        <option>School</option>
        <option>Errands</option>
        <option>Going Out</option>
        <option>Exercise</option>
      </select>
    </div>
  </div>
  <!--Confirm Button-->
  <div class="container-fluid mb-3 mt-4" id="container">
    <div class="row">
      <i
        class="fa-regular fa-circle-check"
        style="color: #000000"
        id="shoes"
      ></i>
      <button type="sumbit" class="btn" role="button" id="confirm">Lock In!</button>
    </div>
  </div>
</form>

  <!--Add New Button-->
  <p style="text-align: center">Adding to your virtual closet?</p>
  <div class="container-fluid" id="container">
    <div class="row">
      <i class="fa-solid fa-plus" style="color: #000000" id="shoes"></i>
      <a
        href="/addnew"
        class="btn btn-primary"
        role="button"
        id="homeAddNewButton"
        >Add More Here!</a
      >
    </div>
  </div>

  {% endblock %}