<!--Add Nav Bar-->
{% extends "base.html"%} 
<!--Change Title of Page-->
{% block title %}Pants • Wardrobe Optimizer{% endblock %}
<!--Add Content-->
{%block content%} 

    <div class="container-fluid">
      <h1 style="text-align:center">Your Personal Pants Collection</h1>
    </div>  
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div
                    class="bg-image hover-zoom ripple rounded ripple-surface"
                  > <!--Had to edit margins on nike logo-->
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg"
                      class="w-100 mt-4"
                    />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div
                          class="mask"
                          style="background-color: rgba(253, 253, 253, 0.15)"
                        ></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg">
                  <h5>[NAME OF PANTS(Color, Brand, Shirt)(Ex. Whtie Nike Shirt)]</h5>
                  <div class="mt-2 mb-0 text-muted small">
                    <span>[BRAND]</span>
                    <span class="text-primary"> • </span>
                    <span>[TYPE]</span>
                    <span class="text-primary"> • </span>
                    <span>[PRIMARY COLOR]<br /></span>
                  </div>
                  <div class="mt-2 mb-0 text-muted small">
                    <span>[AMOUNT OF TIMES WORN]</span>
                    <span class="text-primary"> • </span>
                    <span>[LAST TIME WORN]</span>
                    <span class="text-primary"> • </span>
                    <span>[WORN TO MOST FREQUENTLY]<br /></span>
                  </div>
                  <div>
                    <button class="btn btn-primary btn-sm mt-4" type="button" id="edit">
                      Edit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div
                    class="bg-image hover-zoom ripple rounded ripple-surface"
                  > <!--Had to edit margins on nike logo-->
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg"
                      class="w-100 mt-4"
                    />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div
                          class="mask"
                          style="background-color: rgba(253, 253, 253, 0.15)"
                        ></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg">
                  <h5>[NAME OF PANTS(Color, Brand, Shirt)(Ex. Whtie Nike Shirt)]</h5>
                  <div class="mt-2 mb-0 text-muted small">
                    <span>[BRAND]</span>
                    <span class="text-primary"> • </span>
                    <span>[TYPE]</span>
                    <span class="text-primary"> • </span>
                    <span>[PRIMARY COLOR]<br /></span>
                  </div>
                  <div class="mt-2 mb-0 text-muted small">
                    <span>[AMOUNT OF TIMES WORN]</span>
                    <span class="text-primary"> • </span>
                    <span>[LAST TIME WORN]</span>
                    <span class="text-primary"> • </span>
                    <span>[WORN TO MOST FREQUENTLY]<br /></span>
                  </div>
                  <div>
                    <button class="btn btn-primary btn-sm mt-4" type="button" id="edit">
                      Edit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div
                    class="bg-image hover-zoom ripple rounded ripple-surface"
                  > <!--Had to edit margins on nike logo-->
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Logo_NIKE.svg"
                      class="w-100 mt-4"
                    />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div
                          class="mask"
                          style="background-color: rgba(253, 253, 253, 0.15)"
                        ></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg">
                  <h5>[NAME OF PANTS(Color, Brand, Shirt)(Ex. Whtie Nike Shirt)]</h5>
                  <div class="mt-2 mb-0 text-muted small">
                    <span>[BRAND]</span>
                    <span class="text-primary"> • </span>
                    <span>[TYPE]</span>
                    <span class="text-primary"> • </span>
                    <span>[PRIMARY COLOR]<br /></span>
                  </div>
                  <div class="mt-2 mb-0 text-muted small">
                    <span>[AMOUNT OF TIMES WORN]</span>
                    <span class="text-primary"> • </span>
                    <span>[LAST TIME WORN]</span>
                    <span class="text-primary"> • </span>
                    <span>[WORN TO MOST FREQUENTLY]<br /></span>
                  </div>
                  <div>
                    <button class="btn btn-primary btn-sm mt-4" type="button" id="edit">
                      Edit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}